<div class="container">
  <label class="mt-4 mb-4 lead bg-light">投稿詳細画面</label>
  <%= render 'show', post: @post, map: @map %>
  <% if @post.user == current_user %>
    <%= link_to edit_post_path,class: "btn btn-success" do %>
      投稿内容を編集
    <% end %>
    <%= link_to post_path(@post.id),class: "btn btn-danger",method: :delete, "data-confirm" => "本当に削除しますか？" do %>
      投稿を削除
    <% end %>
  <% end %>
</div>