<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 mt-3">
            <h5>Road Report</h5>
            <p>
                このサイトは○○市道路整備のための発信サイトです。<br>
                市内の道路に関するご意見・ご要望をお聞かせください。<br>
                市民の皆様の投稿で○○市の道路が変わります！！
            </p>
            <%= link_to new_post_path,class: "btn btn-success" do %>
            投稿する
            <% end %>
            <p class="mt-4">
                投稿するためには会員登録が必要です。<br>
                新規登録は
                <%= link_to new_user_registration_path do %>
                こちら
                <% end %>
            </p>
            <div>
            </div>
        </div>
    </div>
</div>