<div class="container">
  <label class="mt-4 mb-4 lead bg-light">事業化候補一覧画面</label>
  <div class="row">
    <table class="table border">
      <thead>
        <tr>
          <th>投稿日時</th>
          <th>投稿名</th>
          <th>投稿者</th>
        </tr>
      </thead>
      <% @posts.each do |post| %>
        <% if post.is_active == true %>
        <tbody>
          <tr>
            <td><%= l post.created_at %></td>
            <td><%= post.post_name %></td>
            <td><%= post.user.name %></td>
          </tr>
        </tbody>
        <% end %>
      <% end %>
    </table>
  </div>
</div>